.form {
  margin-bottom: 140px;
}

.form__content {
  background: url("../../images/background/form-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 20px 20px 20px;
}

.form__contact {
  width: 50%;
  border-radius: 0 20px 20px 20px;
  padding: 85px 70px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid #000;
  box-sizing: border-box;
  opacity: 1;
}

.form__title {
  margin-bottom: 48px;
}

.form__wrapp {
  display: flex;
  flex-direction: column;
}

.form__title--white {
  color: #fff;
}

.form__input {
  margin-bottom: 24px;
  padding: 26px 24px;
  border-radius: 0 20px 20px 20px;
  background: rgba(255, 255, 255, 0.19);
}

.form__textarea {
  height: 175px;
  margin-bottom: 32px;
  padding: 26px 24px;
  border-radius: 0 20px 20px 20px;
  background: rgba(255, 255, 255, 0.19);
  resize: none;
  overflow: auto;
}

@media (max-width:992px) {
  .form__contact {
    width: 100%;
    padding: 50px 25px;
  }
}